Datasheet 4.02C: Migration to and from United Kingdom by main reason for migration by citizenship groups

In [1]:
from databaker.framework import *
import pandas as pd

In [2]:
from pathlib import Path

sourceFolder = Path('in')
sourceFolder.mkdir(exist_ok=True)

%run lib/scrape_ons.ipynb

metadata = scrape('https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/' \
                  'internationalmigration/datasets/ipsmainreasonformigrationbycitizenship')
metadata

{'about': 'International Passenger Survey detailed estimates of Long-Term International Migration: Main reason for migration by citizenship. UK, Underlying datasheet 2.',
 'fileURL': 'https://www.ons.gov.uk/file?uri=/peoplepopulationandcommunity/populationandmigration/internationalmigration/datasets/ipsmainreasonformigrationbycitizenship/2016/underlyingdatasheet4.02ipsmainreasonformigrationbycitizenship2016.xls',
 'mailto': 'mailto:migstatsunit@ons.gsi.gov.uk',
 'nextRelease': datetime.date(2018, 11, 29),
 'releaseDate': datetime.date(2017, 11, 30),
 'title': 'International Passenger Survey\xa04.02, main\xa0reason\xa0for migration by citizenship'}

https://www.ons.gov.uk/file?uri=/peoplepopulationandcommunity/populationandmigration/internationalmigration/datasets/ipsmainreasonformigrationbycitizenship/2016/underlyingdatasheet4.02ipsmainreasonformigrationbycitizenship2016.xls

In [3]:
inputFile = sourceFolder / 'data.xls'
response = session.get(metadata['fileURL'])
# with open(inputFile, 'wb') as f:
#   f.write(response.content)
# # tab = loadxlstabs(inputFile, sheetids='Datasheet 4.02C')[0]

In [4]:
# response.content

In [5]:
xls = pd.ExcelFile(BytesIO(response.content))
df1 = pd.read_excel(xls, 'Datasheet 4.02C', header = 7)

In [6]:
df1

,Software Readable Column Label (See Notes),Unnamed: 1,Row Label,CIT All EST,CIT All CI,CIT Germany EST,CIT Germany CI,CIT Ghana EST,CIT Ghana CI,CIT Greece EST,...,CIT Nepal EST,CIT Nepal CI,CIT Netherlands EST,CIT Netherlands CI,CIT New Zealand EST,CIT New Zealand CI,CIT Nigeria EST,CIT Nigeria CI,CIT Norway EST,CIT Norway CI
0,Inflow,All reasons,"INFLOW, All reasons",526.6,34.4,9.1,3.7,0.7,0.6,4.8,...,1.4,0.8,6,4.8,3.4,1.7,6.1,3.7,3.4,2.6
1,NaN,Work related reasons,"INFLOW, Work related reasons",263.0,23.6,4.3,2.5,0.2,0.3,2.4,...,0.1,0.2,3.2,2.8,2.8,1.6,0.7,0.8,0.2,0.3
2,NaN,Definite job,"INFLOW, Definite job",172.3,19.0,3.2,2,0.2,0.3,1.6,...,0.1,0.2,2.2,2.3,1.4,1.2,0.7,0.8,.,.
3,NaN,Looking for work,"INFLOW, Looking for work",90.6,14.0,1.1,1.4,.,.,0.8,...,.,.,1.1,1.5,1.4,0.9,.,.,0.2,0.3
4,NaN,Accompany / Join,"INFLOW, Accompany or Join",83.3,12.4,0.7,0.8,0.4,0.4,0.6,...,1,0.7,0.2,0.3,.,.,1,1,0.3,0.6
5,NaN,Formal study,"INFLOW, Formal study",132.0,17.9,2.5,2,0.1,0.2,1.7,...,.,.,0.4,0.5,.,.,4.4,3.5,2.9,2.5
6,NaN,Going home to live,"INFLOW, Going home to live",19.1,9.3,.,.,.,.,.,...,.,.,0.3,0.6,.,.,.,.,.,.
7,NaN,Other reasons,"INFLOW, Other reasons",17.1,5.2,1.1,1.5,.,.,.,...,0.1,0.3,.,.,0.6,0.6,.,.,.,.
8,NaN,No reason stated,"INFLOW, No reason stated",12.0,6.1,0.5,0.9,.,.,.,...,0.1,0.2,2,3.9,.,.,.,.,.,.
9,Outflow,All reasons,"OUTFLOW, All reasons",-315.8,23.0,-7.8,4.3,.,.,-0.8,...,-0.6,0.6,-4,3.8,-2.1,1.6,-1,0.9,-1,1
10,NaN,Work related reasons,"OUTFLOW, Work related reasons",-171.0,15.1,-2.1,1.8,.,.,-0.5,...,-0.5,0.5,-1,1.5,-0.8,0.7,-0.6,0.7,-0.4,0.5
11,NaN,Definite job,"OUTFLOW, Definite job",-110.0,12.7,.,.,.,.,-0.1,...,.,.,-1,1.5,-0.6,0.6,.,.,-0.2,0.4
12,NaN,Looking for work,"OUTFLOW, Looking for work",-61.1,8.1,-2.1,1.8,.,.,-0.4,...,-0.5,0.5,.,.,-0.2,0.3,-0.6,0.7,-0.2,0.4
13,NaN,Accompany / Join,"OUTFLOW, Accompany or Join",-23.9,5.7,-0.4,0.5,.,.,.,...,-0.2,0.3,.,.,.,.,.,.,.,.
14,NaN,Formal study,"OUTFLOW, Formal study",-19.8,5.6,-2.8,2.8,.,.,-0.2,...,.,.,-0.3,0.6,-0.3,0.6,-0.4,0.5,-0.1,0.3
15,NaN,Going home to live,"OUTFLOW, Going home to live",-53.2,12.7,-2,2.5,.,.,.,...,.,.,-2.6,3.4,-0.4,0.6,.,.,-0.4,0.7
16,NaN,Other reasons,"OUTFLOW, Other reasons",-22.8,4.9,.,.,.,.,.,...,.,.,.,.,-0.6,1.1,.,.,-0.1,0.2
17,NaN,No reason stated,"OUTFLOW, No reason stated",-24.9,7.2,-0.4,0.6,.,.,.,...,.,.,.,.,.,.,.,.,.,.
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Source: Office for National Statistics (ONS).,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Totals may not sum due to rounding.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,"""z"" - Not applicable, ""."" - No contact, ""0~"" -...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Migration between the UK and the Republic of I...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Citizenships for which there were no contacts ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Care should be taken when comparing inflow and...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,This table uses 95% confidence intervals (CI) ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Published on 30 November 2017 by the Office fo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,© Crown copyright. You may re-use this informa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,"To view this licence, go to: http://www.nation...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,"or write to the Information Policy Team, The N...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
observations = df1.iloc[:, 2:]
observations.head()

,Row Label,CIT All EST,CIT All CI,CIT Germany EST,CIT Germany CI,CIT Ghana EST,CIT Ghana CI,CIT Greece EST,CIT Greece CI,CIT Guinea EST,...,CIT Nepal EST,CIT Nepal CI,CIT Netherlands EST,CIT Netherlands CI,CIT New Zealand EST,CIT New Zealand CI,CIT Nigeria EST,CIT Nigeria CI,CIT Norway EST,CIT Norway CI
0,"INFLOW, All reasons",526.6,34.4,9.1,3.7,0.7,0.6,4.8,3.2,0.1,...,1.4,0.8,6,4.8,3.4,1.7,6.1,3.7,3.4,2.6
1,"INFLOW, Work related reasons",263.0,23.6,4.3,2.5,0.2,0.3,2.4,2,.,...,0.1,0.2,3.2,2.8,2.8,1.6,0.7,0.8,0.2,0.3
2,"INFLOW, Definite job",172.3,19.0,3.2,2,0.2,0.3,1.6,1.7,.,...,0.1,0.2,2.2,2.3,1.4,1.2,0.7,0.8,.,.
3,"INFLOW, Looking for work",90.6,14.0,1.1,1.4,.,.,0.8,1.1,.,...,.,.,1.1,1.5,1.4,0.9,.,.,0.2,0.3
4,"INFLOW, Accompany or Join",83.3,12.4,0.7,0.8,0.4,0.4,0.6,1.3,0.1,...,1,0.7,0.2,0.3,.,.,1,1,0.3,0.6

In [8]:
new_table = pd.melt(observations,
                       ["Row Label"],
                       var_name="Column label",
                       value_name="Value")

In [9]:
new_table.head(50)

                        Row Label Column label  Value
0             INFLOW, All reasons  CIT All EST  526.6
1    INFLOW, Work related reasons  CIT All EST    263
2            INFLOW, Definite job  CIT All EST  172.3
3        INFLOW, Looking for work  CIT All EST   90.6
4       INFLOW, Accompany or Join  CIT All EST   83.3
5            INFLOW, Formal study  CIT All EST    132
6      INFLOW, Going home to live  CIT All EST   19.1
7           INFLOW, Other reasons  CIT All EST   17.1
8        INFLOW, No reason stated  CIT All EST     12
9            OUTFLOW, All reasons  CIT All EST -315.8
10  OUTFLOW, Work related reasons  CIT All EST   -171
11          OUTFLOW, Definite job  CIT All EST   -110
12      OUTFLOW, Looking for work  CIT All EST  -61.1
13     OUTFLOW, Accompany or Join  CIT All EST  -23.9
14          OUTFLOW, Formal study  CIT All EST  -19.8
15    OUTFLOW, Going home to live  CIT All EST  -53.2
16         OUTFLOW, Other reasons  CIT All EST  -22.8
17      OUTFLOW, No reason stated  CIT All EST  -24.9
18                            NaN  CIT All EST    NaN
19                            NaN  CIT All EST    NaN
20                            NaN  CIT All EST    NaN
21                            NaN  CIT All EST    NaN
22                            NaN  CIT All EST    NaN
23                            NaN  CIT All EST    NaN
24                            NaN  CIT All EST    NaN
25                            NaN  CIT All EST    NaN
26                            NaN  CIT All EST    NaN
27                            NaN  CIT All EST    NaN
28                            NaN  CIT All EST    NaN
29                            NaN  CIT All EST    NaN
30                            NaN  CIT All EST    NaN
31                            NaN  CIT All EST    NaN
32                            NaN  CIT All EST    NaN
33                            NaN  CIT All EST    NaN
34                            NaN  CIT All EST    NaN
35                            NaN  CIT All EST    NaN
36                            NaN  CIT All EST    NaN
37            INFLOW, All reasons   CIT All CI   34.4
38   INFLOW, Work related reasons   CIT All CI   23.6
39           INFLOW, Definite job   CIT All CI     19
40       INFLOW, Looking for work   CIT All CI     14
41      INFLOW, Accompany or Join   CIT All CI   12.4
42           INFLOW, Formal study   CIT All CI   17.9
43     INFLOW, Going home to live   CIT All CI    9.3
44          INFLOW, Other reasons   CIT All CI    5.2
45       INFLOW, No reason stated   CIT All CI    6.1
46           OUTFLOW, All reasons   CIT All CI     23
47  OUTFLOW, Work related reasons   CIT All CI   15.1
48          OUTFLOW, Definite job   CIT All CI   12.7
49      OUTFLOW, Looking for work   CIT All CI    8.1

In [10]:
new_table.shape

(3108, 3)

In [11]:
new_table.dropna(inplace=True)

In [12]:
new_table = new_table[new_table['Value'] != '.']

In [13]:
new_table = new_table[new_table['Value'] != '0']

In [14]:
new_table.head(50)

                        Row Label     Column label  Value
0             INFLOW, All reasons      CIT All EST  526.6
1    INFLOW, Work related reasons      CIT All EST    263
2            INFLOW, Definite job      CIT All EST  172.3
3        INFLOW, Looking for work      CIT All EST   90.6
4       INFLOW, Accompany or Join      CIT All EST   83.3
5            INFLOW, Formal study      CIT All EST    132
6      INFLOW, Going home to live      CIT All EST   19.1
7           INFLOW, Other reasons      CIT All EST   17.1
8        INFLOW, No reason stated      CIT All EST     12
9            OUTFLOW, All reasons      CIT All EST -315.8
10  OUTFLOW, Work related reasons      CIT All EST   -171
11          OUTFLOW, Definite job      CIT All EST   -110
12      OUTFLOW, Looking for work      CIT All EST  -61.1
13     OUTFLOW, Accompany or Join      CIT All EST  -23.9
14          OUTFLOW, Formal study      CIT All EST  -19.8
15    OUTFLOW, Going home to live      CIT All EST  -53.2
16         OUTFLOW, Other reasons      CIT All EST  -22.8
17      OUTFLOW, No reason stated      CIT All EST  -24.9
37            INFLOW, All reasons       CIT All CI   34.4
38   INFLOW, Work related reasons       CIT All CI   23.6
39           INFLOW, Definite job       CIT All CI     19
40       INFLOW, Looking for work       CIT All CI     14
41      INFLOW, Accompany or Join       CIT All CI   12.4
42           INFLOW, Formal study       CIT All CI   17.9
43     INFLOW, Going home to live       CIT All CI    9.3
44          INFLOW, Other reasons       CIT All CI    5.2
45       INFLOW, No reason stated       CIT All CI    6.1
46           OUTFLOW, All reasons       CIT All CI     23
47  OUTFLOW, Work related reasons       CIT All CI   15.1
48          OUTFLOW, Definite job       CIT All CI   12.7
49      OUTFLOW, Looking for work       CIT All CI    8.1
50     OUTFLOW, Accompany or Join       CIT All CI    5.7
51          OUTFLOW, Formal study       CIT All CI    5.6
52    OUTFLOW, Going home to live       CIT All CI   12.7
53         OUTFLOW, Other reasons       CIT All CI    4.9
54      OUTFLOW, No reason stated       CIT All CI    7.2
74            INFLOW, All reasons  CIT Germany EST    9.1
75   INFLOW, Work related reasons  CIT Germany EST    4.3
76           INFLOW, Definite job  CIT Germany EST    3.2
77       INFLOW, Looking for work  CIT Germany EST    1.1
78      INFLOW, Accompany or Join  CIT Germany EST    0.7
79           INFLOW, Formal study  CIT Germany EST    2.5
81          INFLOW, Other reasons  CIT Germany EST    1.1
82       INFLOW, No reason stated  CIT Germany EST    0.5
83           OUTFLOW, All reasons  CIT Germany EST   -7.8
84  OUTFLOW, Work related reasons  CIT Germany EST   -2.1
86      OUTFLOW, Looking for work  CIT Germany EST   -2.1
87     OUTFLOW, Accompany or Join  CIT Germany EST   -0.4
88          OUTFLOW, Formal study  CIT Germany EST   -2.8
89    OUTFLOW, Going home to live  CIT Germany EST     -2

In [15]:
new_table.count()

Row Label       678
Column label    678
Value           678
dtype: int64

In [16]:
# sourceFilename = 'column-labels-revised.csv'
# sourceFile = sourceFolder / sourceFilename
# sourceUrl = 'https://drive.google.com/uc?export=download&id=1G3tiDCLxNxyrQ95W94DXsHNMqBxv45NX'

# if not (sourceFile.exists() and sourceFile.is_file()):
#     response = requests.get(sourceUrl)
#     with open(sourceFile, 'wb') as f:
#         f.write(response.content)

# columns = pd.read_csv(sourceFile)

In [17]:
# sourceFilename = 'row-labels-revised.csv'
# sourceFile = sourceFolder / sourceFilename
# sourceUrl = 'https://drive.google.com/uc?export=download&id=1baA0s5L1PdbK0VPWgNde70yjGFSAeZpa'

# if not (sourceFile.exists() and sourceFile.is_file()):
#     response = requests.get(sourceUrl)
#     with open(sourceFile, 'wb') as f:
#         f.write(response.content)

# rows = pd.read_csv(sourceFile)

In [18]:
# columns.head()

In [19]:
# rows.head()

In [20]:
# new_table = pd.merge(new_table, columns, how = 'left', left_on = 'Column label', right_on = 'Original.Label')

In [21]:
# new_table.head()

In [22]:
# new_table = pd.merge(new_table, rows, how = 'left', left_on = 'Row Label', right_on = 'original')

In [23]:
new_table.head()

                      Row Label Column label  Value
0           INFLOW, All reasons  CIT All EST  526.6
1  INFLOW, Work related reasons  CIT All EST    263
2          INFLOW, Definite job  CIT All EST  172.3
3      INFLOW, Looking for work  CIT All EST   90.6
4     INFLOW, Accompany or Join  CIT All EST   83.3

In [24]:
new_table['Geography'] = 'K02000001'
new_table['Unit'] = 'People (thousands)'
new_table['Measure Type'] = 'Count'
new_table['Year'] = '2016'
new_table.tail()

,Row Label,Column label,Value,Geography,Unit,Measure Type,Year
3082,"OUTFLOW, Definite job",CIT Norway CI,0.4,K02000001,People (thousands),Count,2016
3083,"OUTFLOW, Looking for work",CIT Norway CI,0.4,K02000001,People (thousands),Count,2016
3085,"OUTFLOW, Formal study",CIT Norway CI,0.3,K02000001,People (thousands),Count,2016
3086,"OUTFLOW, Going home to live",CIT Norway CI,0.7,K02000001,People (thousands),Count,2016
3087,"OUTFLOW, Other reasons",CIT Norway CI,0.2,K02000001,People (thousands),Count,2016

In [25]:
new_table.dtypes

Row Label       object
Column label    object
Value           object
Geography       object
Unit            object
Measure Type    object
Year            object
dtype: object

In [26]:
new_table['Value'] = new_table['Value'].astype(int)

In [27]:
new_table['Year'] = new_table['Year'].astype(int)

In [28]:
new_table.count()

Row Label       678
Column label    678
Value           678
Geography       678
Unit            678
Measure Type    678
Year            678
dtype: int64

In [29]:
new_table.head(5)

,Row Label,Column label,Value,Geography,Unit,Measure Type,Year
0,"INFLOW, All reasons",CIT All EST,526,K02000001,People (thousands),Count,2016
1,"INFLOW, Work related reasons",CIT All EST,263,K02000001,People (thousands),Count,2016
2,"INFLOW, Definite job",CIT All EST,172,K02000001,People (thousands),Count,2016
3,"INFLOW, Looking for work",CIT All EST,90,K02000001,People (thousands),Count,2016
4,"INFLOW, Accompany or Join",CIT All EST,83,K02000001,People (thousands),Count,2016

In [30]:
new_table = new_table[['Geography','Year','Row Label','Column label','Measure Type','Value','Unit']]

In [31]:
new_table

,Geography,Year,Row Label,Column label,Measure Type,Value,Unit
0,K02000001,2016,"INFLOW, All reasons",CIT All EST,Count,526,People (thousands)
1,K02000001,2016,"INFLOW, Work related reasons",CIT All EST,Count,263,People (thousands)
2,K02000001,2016,"INFLOW, Definite job",CIT All EST,Count,172,People (thousands)
3,K02000001,2016,"INFLOW, Looking for work",CIT All EST,Count,90,People (thousands)
4,K02000001,2016,"INFLOW, Accompany or Join",CIT All EST,Count,83,People (thousands)
5,K02000001,2016,"INFLOW, Formal study",CIT All EST,Count,132,People (thousands)
6,K02000001,2016,"INFLOW, Going home to live",CIT All EST,Count,19,People (thousands)
7,K02000001,2016,"INFLOW, Other reasons",CIT All EST,Count,17,People (thousands)
8,K02000001,2016,"INFLOW, No reason stated",CIT All EST,Count,12,People (thousands)
9,K02000001,2016,"OUTFLOW, All reasons",CIT All EST,Count,-315,People (thousands)
10,K02000001,2016,"OUTFLOW, Work related reasons",CIT All EST,Count,-171,People (thousands)
11,K02000001,2016,"OUTFLOW, Definite job",CIT All EST,Count,-110,People (thousands)
12,K02000001,2016,"OUTFLOW, Looking for work",CIT All EST,Count,-61,People (thousands)
13,K02000001,2016,"OUTFLOW, Accompany or Join",CIT All EST,Count,-23,People (thousands)
14,K02000001,2016,"OUTFLOW, Formal study",CIT All EST,Count,-19,People (thousands)
15,K02000001,2016,"OUTFLOW, Going home to live",CIT All EST,Count,-53,People (thousands)
16,K02000001,2016,"OUTFLOW, Other reasons",CIT All EST,Count,-22,People (thousands)
17,K02000001,2016,"OUTFLOW, No reason stated",CIT All EST,Count,-24,People (thousands)
37,K02000001,2016,"INFLOW, All reasons",CIT All CI,Count,34,People (thousands)
38,K02000001,2016,"INFLOW, Work related reasons",CIT All CI,Count,23,People (thousands)
39,K02000001,2016,"INFLOW, Definite job",CIT All CI,Count,19,People (thousands)
40,K02000001,2016,"INFLOW, Looking for work",CIT All CI,Count,14,People (thousands)
41,K02000001,2016,"INFLOW, Accompany or Join",CIT All CI,Count,12,People (thousands)
42,K02000001,2016,"INFLOW, Formal study",CIT All CI,Count,17,People (thousands)
43,K02000001,2016,"INFLOW, Going home to live",CIT All CI,Count,9,People (thousands)
44,K02000001,2016,"INFLOW, Other reasons",CIT All CI,Count,5,People (thousands)
45,K02000001,2016,"INFLOW, No reason stated",CIT All CI,Count,6,People (thousands)
46,K02000001,2016,"OUTFLOW, All reasons",CIT All CI,Count,23,People (thousands)
47,K02000001,2016,"OUTFLOW, Work related reasons",CIT All CI,Count,15,People (thousands)
48,K02000001,2016,"OUTFLOW, Definite job",CIT All CI,Count,12,People (thousands)
...,...,...,...,...,...,...,...
3001,K02000001,2016,"INFLOW, Accompany or Join",CIT Nigeria CI,Count,1,People (thousands)
3002,K02000001,2016,"INFLOW, Formal study",CIT Nigeria CI,Count,3,People (thousands)
3006,K02000001,2016,"OUTFLOW, All reasons",CIT Nigeria CI,Count,0,People (thousands)
3007,K02000001,2016,"OUTFLOW, Work related reasons",CIT Nigeria CI,Count,0,People (thousands)
3009,K02000001,2016,"OUTFLOW, Looking for work",CIT Nigeria CI,Count,0,People (thousands)
3011,K02000001,2016,"OUTFLOW, Formal study",CIT Nigeria CI,Count,0,People (thousands)
3034,K02000001,2016,"INFLOW, All reasons",CIT Norway EST,Count,3,People (thousands)
3035,K02000001,2016,"INFLOW, Work related reasons",CIT Norway EST,Count,0,People (thousands)
3037,K02000001,2016,"INFLOW, Looking for work",CIT Norway EST,Count,0,People (thousands)
3038,K02000001,2016,"INFLOW, Accompany or Join",CIT Norway EST,Count,0,People (thousands)
3039,K02000001,2016,"INFLOW, Formal study",CIT Norway EST,Count,2,People (thousands)
3043,K02000001,2016,"OUTFLOW, All reasons",CIT Norway EST,Count,-1,People (thousands)
3044,K02000001,2016,"OUTFLOW, Work related reasons",CIT Norway EST,Count,0,People (thousands)
3045,K02000001,2016,"OUTFLOW, Definite job",CIT Norway EST,Count,0,People (thousands)
3046,K02000001,2016,"OUTFLOW, Looking for work",CIT Norway EST,Count,0,People (thousands)
3048,K02000001,2016,"OUTFLOW, Formal study",CIT Norway EST,Count,0,People (thousands)
3049,K02000001,2016,"OUTFLOW, Going home to live",CIT Norway EST,Count,0,People (thousands)
3050,K02000001,2016,"OUTFLOW, Other reasons",CIT Norway EST,Count,0,People (thousands)
3071,K02000001,2016,"INFLOW, All reasons",CIT Norway CI,Count,2,People (thousands)
3072,K02000001,2016,"INFLOW, Work related reasons",CIT Norway CI,Count,0,People (thousands)
3074,K02000001,2016,"INFLOW, Looking for work",CIT Norway CI,Count,0,People (thousands)
3075,K02000001,2016,"INFLOW, Accompany or Join",CIT Norway CI,Count,0,People (thousands)
3076,K02000001,2016,"INFLOW, Formal study",CIT Norway CI,Count,2,People (thousands)
3080,K02000001,2016,"OUTFLOW, All reasons",CIT Norway CI,Count,1,People (thousands)
3081,K02000001,2016,"OUTFLOW, Work related reasons",CIT Norway CI,Count,0,People (thousands)
3082,K02000001,2016,"OUTFLOW, Definite job",CIT Norway CI,Count,0,People (thousands)
3083,K02000001,2016,"OUTFLOW, Looking for work",CIT Norway CI,Count,0,People (thousands)
3085,K02000001,2016,"OUTFLOW, Formal study",CIT Norway CI,Count,0,People (thousands)
3086,K02000001,2016,"OUTFLOW, Going home to live",CIT Norway CI,Count,0,People (thousands)
3087,K02000001,2016,"OUTFLOW, Other reasons",CIT Norway CI,Count,0,People (thousands)

In [32]:
destinationFolder = Path('out')
destinationFolder.mkdir(exist_ok=True, parents=True)

new_table.to_csv(destinationFolder / ('tidydata4.02C.csv'), index = False)

In [33]:
writeMetadata(metadata, 'ONS-LTIM-Passenger-survey-4.02C', 'Migration')

In [34]:
new_table.count()

Geography       678
Year            678
Row Label       678
Column label    678
Measure Type    678
Value           678
Unit            678
dtype: int64